footer{
    width: 100%;
    .copy_right{
        padding-bottom: 30px;
        ul{
            &.footer_menu{
                li{
                    
                    a{
                        font-size: 17px; text-transform: capitalize; font-weight: normal;
                    }
                    
                }
            }
        }
        .ft_social{
            flex-wrap: wrap;
            li{
                margin-right: 46px;
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
    ul{
        &.footer_menu{
            li{
                margin-right: 80px; position: relative; padding: 20px 0;
                a{
                    font-size: 30px; text-transform: capitalize; font-weight: 500;
                }
                
            }
        }
    }
    p{
        font-size: 21px;
        font-weight: 500;
        margin-top: 60px;
        margin-bottom: 76px;
        padding-right: 122px;
        line-height: 42px;
        span{
            font-weight: 700;
            color: var(--primary-color);
        }
    }
    address{
        font-size: 30px;
        font-weight: 500;
        color: #434343;
        line-height: 40px;
    }
}

@media only screen and (max-width:2099px){
    footer {
        .copy_right{
            .ft_social{
                li{
                    margin-right: 18px;
                    img{
                        height: 28px;
                    }
                }
            }
        }
        ul{
            &.footer_menu {
                li {
                    margin-right: 60px;     padding: 11px 0;
                    a{
                        font-size: 24px;
                    }
                }
            }
        }
        p{
            font-size: 17px;
            font-weight: 500;
            margin-top: 34px;
            margin-bottom: 76px;
            padding-right: 28px;
            line-height: 33px;
        }
        address{
            font-size: 20px;
            line-height: 35px;
        }
    }
}

@media only screen and (max-width:1919px){
    footer {
        .copy_right{
            .ft_social{
                li{
                    margin-right: 18px;
                    img{
                        height: 28px;
                    }
                }
            }
        }
        ul{
            &.footer_menu {
                li {
                    margin-right: 40px;     padding: 8px 0;
                    a{
                        font-size: 18px;
                    }
                }
            }
        }
        p{
            font-size: 14px;
            font-weight: 500;
            margin-top: 12px;
            margin-bottom: 76px;
            padding-right: 0;
            line-height: 28px;
        }
        address{
            font-size: 15px;
            line-height: 26px;
        }
    }
}

@media only screen and (max-width:1365px){
    footer {
        .copy_right{
            ul{
                &.footer_menu{
                    li{
                        
                        a{
                            font-size: 14px;
                        }
                        
                    }
                }
            }
            .ft_social{
                li{
                    margin-right: 11px;
                    img{
                        height: 25px;
                    }
                }
            }
        }
        ul{
            &.footer_menu {
                li {
                    margin-right: 25px; padding: 0 0;
                    a{
                        font-size: 15px;
                    }
                }
            }
        }
        p{
            font-size: 14px;
            font-weight: 500;
            margin-top: 25px;
            margin-bottom: 76px;
            padding-right: 0;
            line-height: 24px;
        }
        address{
            font-size: 14px;
            line-height: 24px;
        }
    }
}

@media only screen and (max-width:1023px){
    footer{
        .copy_right{
            text-align: center;
            ul{
                &.footer_menu{
                    justify-content: center; flex-wrap: wrap; max-width: 95%; margin: 0 auto 20px;
                    li{
                        flex: 0 0 100%;
                        margin: 0;
                        
                        
                    }
                }
            }
            .ft_social{
                justify-content: center;
                li{
                    margin-right: 11px;
                    img{
                        height: 25px;
                    }
                }
            }
        }
        ul{
            &.footer_menu {
                justify-content: space-between; flex-wrap: wrap; max-width: 95%; margin: 0 auto;
                li{
                    flex: 0 0 50%;
                    margin: 0;
                    
                    
                }
            }
        }
        p{
            text-align: center;
            width: 100%;
            margin-bottom: 30px;
        }
        address{
            width: 100%;
            text-align: center;
            line-height: 18px;
        }
    }
}


@media only screen and (max-width:450px){
    footer{
        ul{
            &.footer_menu {
                justify-content: space-between; flex-wrap: wrap; max-width: 95%; margin: 0 auto;
                li{
                    flex: 0 0 50%;
                    margin: 0;
                    
                    
                }
            }
        }
        p{
            text-align: center;
            width: 100%;
            margin-bottom: 30px;
        }
        address{
            width: 100%;
            text-align: center;
            line-height: 18px;
        }
    }
}